@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}
body {
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.button-primary {
  background-color: #756157;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
  padding: 0 70px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.navigation-link {
  font-weight: 700;
  font-size: 20;
  line-height: 24px;
  padding: 20px 16px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.navigation-user-link {
  font-weight: 700;
  font-size: 20;
  line-height: 24px;
  padding: 20px 16px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.hero {
  color: #000000;
  background-color: #347eb0;
  background-image: url("../image/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.hero-image {
  padding:  51px 371px 82px ;
  display:block;
  margin:auto;
}
.advantages-lead {
  font-weight:700;
  font-size:30px;
  line-height:36px;
  text-align: center;
}
.advantages-text {
  font-weight: 400;
  font-size:22px;
  line-height:26px;
  text-align: center;
}
.advantages-list {
list-style-type: none;
}
.advantages-card {
  font-weight: 400;
  text-align: center;
  background-color:#83B3D31F;
}
.contrast {
  background-color:#82B3D3;
}
.contrast p {
color: #ffffff;
}
.colored {
  background-color:#83B3D333;
}
.advantages-title {
  font-weight: 700;
  font-size:24px;
  line-height:28px;
  text-transform: uppercase;
  color: #000000;
}
.services-preview-title {
 font-weight:700;
  font-size:30px;
  line-height:36px;
  text-align: center;
  text-transform: uppercase;
}
.services-preview-lead {
  font-size:22px;
  line-height:26px;
  text-align: center;
}
.services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.services-item {
padding: 183px 85px 81px;
}
.services-title {
  font-weight:700;
  font-size:24px;
  line-height:28px;
  text-align: center;
  text-transform: uppercase;
}
.services-description {
  text-align: center;
}
.search {
  text-align: center;
  padding: 96px 304px;
}
.search-title {
  font-weight:700;
  font-size:30px;
  line-height:36px;
  text-align: center;
  text-transform: uppercase;
}
.search-description {
  font-size:22px;
  line-height:26px;
  text-align: center;
}
.subscribe {
  background-image: url("../image/subscribe-background.jpg");
  background-color: #333333;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
}
.subscribe-catalog {
  color: #333333;
  text-align: center;
  padding: 96px 258px 104px; ;
}
.subscribe-title {
  font-weight:700;
  font-size:30px;
  line-height:36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-text {
  font-size:22px;
  line-height:26px;
  text-align: center;
  color: #ffffff;
}
.page-footer {
  background-color: #ffffff;
  color: #000000;
}
.page-footer a {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
.inner-header {
  padding-inline: 70px;
    padding-block: 35px 70px;
    background-color: #83B3D333;
    background-image: url(../image/booking-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: #ffffff;
}
.inner-header-title {
font-weight: 700;
  font-size: 60PX;
  line-height: 78PX;
  margin-block: 0 8px;
}
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}
.breadcrumbs-list {
  display: flex;
  margin-bottom:40px;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  list-style-type: none;
}
 .catalog-filter {
  display: flex;
  justify-content: space-between;
 }
 .catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
 }
 .catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
 }
.catalog-filter-list {
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
  line-height: 23px;
}
.catalog-filter-submit {
  font-size: 16px;
  line-height: 20px;
}
.catalog-filter-reset {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}
.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-header-title{
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.select-control {
padding: 14px 20px ;
}
.catalog-card {
 padding: 20px;
}
.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
}
.catalog-card-link {
  color: #000000;
  text-decoration: none;
}

.catalog-card-button {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.pagination-list {
display: flex;
gap: 8px;
padding: 0;
list-style-type: none;
}
.pagination-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  text-align: 36px;
}
.pagination-item {
  display: flex;
justify-content: center;
align-items: center;
width: 60px;
height: 60px;
border-radius: 4px;
background-color: #82b3d3;
}

/*/
